/* 2nd navbar */
.nav__cont {
    position: fixed;
    width: 60px;
    top: 0;
    padding: 020px;
    height: 100vh;
    z-index: 100;
    background-color:#000;
    overflow: hidden;
    transition: width 0.3s ease;
    cursor: pointer;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
}

.nav__cont:hover {
    width: 200px;
}

@media screen and (min-width: 600px) {
    .nav__cont {
        width: 80px;
    }
}

.nav {
    list-style-type: none;
    color: white;
}



.nav__items {

    font-family: 'roboto';
}

.nav__items a,.logout{
    position: relative;
    display: block;
    top: -35px;
    padding-left: 40px;
    padding-right: 15px;
    transition: all 0.3s ease;
    margin-left: 25px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    font-family: 'roboto';
    font-weight: 100;
    font-size: 1.1em;
}

.nav__items a:after,.logout:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: radial-gradient(circle at 94.02% 88.03%, #54a4ff, transparent 100%);
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -10;
}

.nav__items:hover a:after,.logout:after{
    opacity: 1;
}



@media screen and (min-width: 600px) {
    .nav__items svg {
        width: 32px;
        height: 32px;
        left: -15px;
    }
}